
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F5F5F5;
}

.mobile-nav {
    display: none;
}
.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 65px;
    justify-content: space-between;
}

.img-logo {
    max-width: 5vw;
}
.icon-element {
    background-color: #F5F5F5;

}
.card-title {
    text-align: center;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #560025;
    color: #F5F5F5;
}

.nav-list li{
    font-family: serif;    
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.first-li-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-list li:hover {
    background-color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
}

section {
    width: 100%;
    height: 100%;
}

h2 {
    padding-top: 3%;
    font-size: 40px;
    font-family: serif;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
    display: contents;
}
input {
    width: 200px;
}

.product-container img {
    border-radius: 50%;
    width: 320px;
}

.product-container img:hover {
    filter: contrast(0.7);
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-top: 4%;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    background-color: #F5F5F5;

}
.line-products{
    display: none;
}


#home div {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home div img {
    width: 40%;
}

.intro-div {
    align-items: flex-start !important;
}

.service-card span {
    height: 30%;
}

.intro-div h1{
    margin: 0% 5%;
    font-size: 5em;
    font-family: serif;
    color: #560025;
}

.store-line {
    font-family: serif;
    text-align: center;
    font-weight: bold;
}

.product-card:hover {
    cursor: pointer;
}
.product-card button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(245, 245, 245);
    border: solid;
    width: 30%;
    height: 70%;
    border-radius: 5%;
}

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #560025;
    width: 100%;
}
#contact h2 {
    color: #F5F5F5;
}

#about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:  rgb(86, 0, 37) 10px;
}


.insert-text {
    height: 200px;
}
button{
    width: 100px;
    height: 5%;
    background-color: #F5F5F5;
}
#about-us h3 {
    font-size: 2em;
    font-family: serif;
    text-align: left;
    background-color: rgb(86, 0, 37);
    color: #F5F5F5;
}

#our-services {
    padding: 15px 0px;
    background-color: white;
}

#our-services h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#store {
    background-color: #560025;
    padding-top: 8%;
    height: 80%;
}
#store h2 {
    color: #F5F5F5;
    border: 1px 0px;
}
#store {
    color: #F5F5F5;
}
section h2 {
    color: rgb(86, 0, 37);
    border: 1px 0px;
    border-bottom: 2px solid rgb(86, 0, 37);
}
.about-deco{
    width: 270px;
    border-radius: 50%;
    opacity: 50%;
}

.about-desc {
    width: 75%;
    padding-left: 2%;
}
.values {
    line-height: 25px;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 5%;
}
.service-card{
    background-color: #F5F5F5;
    width: 250px;
    height: 485px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-product {
    margin: 5%;
    text-align: left;
    padding-bottom: 5px;
}
.service-card div {
    text-transform: uppercase;
    background-color: rgb(86, 0, 37);
    color: #F5F5F5;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#store h2 {
    margin: 0;
    padding: 0;
}

@media (max-width: 320px) {
    .nav-list li {
        font-size: 12px !important;
    }
}
@media (max-width: 700px) {
    .intro-div h1 {
        text-align: center;
    }
    .line-products {
        display: block;
    }
    #home {
        flex-direction: column-reverse;
        margin-top: 10%;
    }
    #home div {
        height: 35%;
    }
    #home div img {
        width: 50%;
    }
    .intro-div {
        margin-bottom: 100px;
        width: 84%;
    }

    .intro-div h1 {
        font-size: 3em;
        margin-bottom: 8%;
    }
    .intro-div p {
        font-size: 1em;
    }
    .desktop-nav {
        display: none;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    #our-services {
        height: fit-content;
    }
    .about-pic{ 
        display: none;
    }
    #about-us {
        height: fit-content;
        display: block;
        padding-top: 18%;
    }
    #store {
        height: fit-content;
        padding-top: 18%;
    }
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-desc {
        margin-left: 10%;
    }
    #about-us h3 {
        text-align: center;
        padding: 0px;
        margin: 5px 0px 0px 0px;
    }
    .product-container img {
        width: 250px;
        margin-bottom: 80px;
    }
    #contact {
        padding-top: 8%;
    }
    .contact-form {
        align-items: center;
        width: 80%;
    }
    input {
        margin-bottom: 10px;
    }
    nav {
        position: sticky;
    }
    .img-logo {
        display: none;
    }
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }

}
@media (min-width: 701px) {
    .intro-div p {
        font-size: 1.5em;
    }
    #home div {
        width: 100%;
    }
    #about-us h3 {
        padding-left: 5%;
    }
}

@media (min-width: 701px) and (max-width: 1041px){
    .service-card {
        font-size: 14px;
        background-color: #F5F5F5;
        width: 173px;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-container img {
        width: 250px;
    }
}

.intro-div p {
    margin-left: 5%;
}